<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎光临我的博客</title>
</head>
<body>
  <h1>欢迎光临我的博客</h1>
  <hr>
  {% for post in posts %}
    <p style="font-family: 微软雅黑；font-size: 14pt; font-weight: bold">
        <a href="/post/{{post.slug}}">{{ post.title }}</a>
    </p>
  {% endfor %}
  <hr>
  <h3>当前时间：{{ now }}</h3>
</body>
</html>